.topper{
    margin-top: 0%;
    height: 3vh;
    background: rgb(38, 139, 124);
    padding-left: 10vh;
    padding-top: 2vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
    font-size: 25px;
    font-family: myJapaneseFont;
    column-gap: 2em;
    
}
.top{
    display: flex;
    margin-top: 0%;
    background: rgb(173, 185, 149);
    height: 12vh;
    font-size: 30px;
    font-family: myJapaneseFont;
    align-items: center;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 5vh;
}
.button{
    background: rgb(173, 185, 149);
    font-size: 45px;
}
.image{
    width: 60vh;
    background: rgb(173, 185, 149);
    margin-left: 0%;
    padding-right: 0%;
    height: 200vh;
}
.image-holder{
    width: 300px;
    height: 400px;
    font-size: 35px;
}
.data{
    display: flex;
    width: 1000px;
    font-family: myJapaneseFont;
    background: rgb(173, 185, 149);
    height: 700px;
    justify-content: stretch;
}
.contents{
 display: grid;
 row-gap: 1em;
 width: 150px;
 height: 700px;
 background: rgb(173, 185, 149);
 padding-left: 30px;
 padding-top: 10px;
 padding-bottom: 5px;
}
.contents-holder{
    font-size: 20px;
    border: 1px solid black;   
    height: 25px;
    padding-left: 5px;
    padding-bottom:5px;
   
}
.value{
    display: grid;
    width: 400px;
    row-gap: 1em;
    background: rgb(173, 185, 149);
    height: 700px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.value-holder{
    font-size: 20px;
    padding-left: 5px;
    padding-bottom:5px;
    height: 30px;
    background: white;

}
.result{
    display: grid;
    width: 250px;
    row-gap: 1em;
    background: rgb(173, 185, 149);
    height: 700px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 5px;

    
}
.result-button-green{
    background-color: rgb(17, 176, 43);
    font-size: 30px;
    width: 100px;
    height: 45px;
}
.result-button-red{
    background-color: red;
    font-size: 30px;
    width: 100px;
    height: 50px;
}
.content-header{
    font-size: 35px;
    font-style: bold;
}

.wrapper{
    display: flex;
    background: rgb(173, 185, 149);
    height: 800px;
    margin-top: 0%;
    justify-content: center;
    column-gap: 2em;
    align-items: stretch;
    padding-left: 10%;
    padding-top: 2%;
    

}
@font-face {
    font-family: myJapanesefont;
    src: url(myJapaneseFont.ttf);
}
